#ifndef __ARDUINO_SECRETS_H
#define __ARDUINO_SECRETS_H
#include <Arduino.h>

const char WIFI_SSID[] PROGMEM = "foo";
const char WIFI_PASSWORD[] PROGMEM = "bar";
const char OTA_UPDATE_PWD[] PROGMEM = "baz";

#endif
